
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Reporte Requerimientos</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template -->
    <link rel="icon" href="~/Content/logoServiceWeb/Logo_Service_Web-01.png" type="image/png" />
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/tiempo/css/datepicker.css">

    <link rel="stylesheet" href="~/Content/alertifyjssw/css/alertify.css">
    <link rel="stylesheet" href="~/Content/alertifyjssw/css/themes/semantic.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />





    <style>
        .ui-autocomplete {
            position: relative;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        html .ui-autocomplete {
            height: 100px;
        }



        .ui-autocomplete1 {
            position: relative;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        html .ui-autocomplete1 {
            height: 100px;
        }


        .ui-autocomplete2 {
            position: relative;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        html .ui-autocomplete2 {
            height: 100px;
        }
    </style>
    <style>

        .loader {
            display: none;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('../Content/img/cargar.gif') 50% 50% no-repeat rgb(249,249,249);
            opacity: .8;
        }




        .title_dpp {
            padding: 5px 50px 5px 50px;
            float: left;
            width: 100%;
        }

            .title_dpp h1 {
                font-size: smaller;
                font-weight: 700;
                cursor: pointer;
            }

        .self1 {
            width: 100%;
            padding: 7px;
            margin: auto;
            text-align: center;
        }


        .self2 {
            width: 100%;
            padding: 7px;
            margin: auto;
            float: left;
        }

        .self3 {
            width: 100%;
            padding: 7px;
            margin: auto;
            float: right;
        }

        img.portrait {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-repeat: no-repeat;
        }

    </style>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        @RenderPage("~/Content/sidebar.cshtml")
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                @RenderPage("~/Content/navbar.cshtml")
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <input id="ruta_actual1" value="@System.Configuration.ConfigurationManager.AppSettings["ruta_actual1"]" style="display: none;" />
                    <input id="webserv" value="@System.Configuration.ConfigurationManager.AppSettings["webservice"]" style="display: none;" />
                    <input id="ruta_actual" value="@System.Configuration.ConfigurationManager.AppSettings["ruta_actual"]" style="display: none;" />
                    <div class="row">


                        <div class="card shadow mb-4">

                            <div class="card-body">

                                <div class="row" style="margin:auto">
                                    <div style="text-align:center;    width: 100%; padding:15px">

                                        <h5>Reasignación de Proveedores a Req.</h5>
                                    </div>

                                </div>

                                <div class="row">
                                    <div style="width:35%;">

                                        <div class="dropdown mb-4" style="padding: 19px;">
                                            <div class="ui-autocomplete1" style="width: 100%; padding: 0px 30px;">

                                                <input type="text" class="form-control" placeholder="Buscar Requerimiento" aria-label="Search" id="req_id">
                                                <input id="idserviciot2" style="display:none">
                                                <input id="idreq2" style="display:none">
                                                <input id="nombre_proveedor" style="display:none">
                                                <input id="idproveedors" style="display:none">
                                            </div>


                                        </div>

                                    </div>




                                    <div style="width:65%; display:none;" id="Lista_proveedores_activos">


                                        <div class="dropdown mb-6">
                                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu animated--fade-in" id="lista_servicio1" aria-labelledby="dropdownMenuButton">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card shadow mb-4">
                            <div class="card-body">

                                <div class="row" style="margin:auto">
                                    <div style="text-align:center;    width: 100%; padding:15px">

                                        <h5>Cancelación de Req.</h5>
                                    </div>

                                </div>

                                <div class="row">
                                    <div style="width:30%;  margin:auto">

                                        <div class="dropdown mb-12" style="padding: 19px;">
                                            <div class="ui-autocomplete2" style="width: 100%; padding: 0px 30px;">

                                                <input type="text" class="form-control" placeholder="Buscar Requerimiento a Cancelar" aria-label="Search" id="req_id_cancelacion">
                                                <input id="idreq3" style="display:none">

                                            </div>


                                        </div>

                                    </div>


                                    <div style="width:20%;  margin:auto; display:block;" id="cuadro2">
                                        <div class="dropdown mb-4">
                                            <button class="btn btn-info" onclick="cancelar_req_sin_notificacion(3)" type="button" id="dropdownMenuButton15" style="display:none">
                                                Confirmar la cancelación del req sin Notificación.
                                            </button>
                                        </div>
                                    </div>




                                    <div style="width:20%; margin:auto; display:block;" id="cuadro">
                                        <div class="dropdown mb-4">
                                            <button class="btn btn-success " onclick="cancelar_req(3)" type="button" id="dropdownMenuButton13" style="display:none">
                                                Confirmar la cancelación del req.
                                            </button>
                                        </div>
                                    </div>

                                    <div style="width:20%;  margin:auto; display:block;" id="cuadro1">
                                        <div class="dropdown mb-4">
                                            <button class="btn btn-danger" onclick="cancelar_req(6)" type="button" id="dropdownMenuButton14" style="display:none">
                                                Confirmar Req de Prueba
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>






                        <div class="card shadow mb-4">
                            <div class="card-body">

                                <div class="row" style="margin:auto">
                                    <div style="text-align:center;    width: 100%; padding:15px">

                                        <h5>Habilitar a Proveedor</h5>
                                    </div>

                                </div>

                                <div class="row">
                                    <div style="width:40%;">

                                        <div class="dropdown mb-12" style="padding: 19px;">
                                            <div class="ui-autocomplete2" style="width: 100%; padding: 0px 30px;">

                                                <input type="text" class="form-control" placeholder="Buscar a tu proveedor para activarlo" aria-label="Search" id="pro_activa">
                                                <input id="idpro_act" style="display:none">

                                            </div>


                                        </div>

                                    </div>

                                    <div style="width:60%; display:none;" id="Lista_proveedores">


                                        <div class="dropdown mb-6">
                                            <button class="btn btn-success dropdown-toggle" type="button" id="lista_pro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button> <div class="dropdown-menu animated--fade-in" id="lista_proveed1" aria-labelledby="dropdownMenuButton">

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>







                        <div class="card shadow mb-4">
                            <div class="card-body">

                                <div class="row" style="margin:auto">
                                    <div style="text-align:center;    width: 100%; padding:15px">

                                        <h5>Información de Proveedor</h5>
                                    </div>

                                </div>

                                <div class="row">
                                    <div style="width:40%;">

                                        <div class="dropdown mb-12" style="padding: 19px;">
                                            <div class="ui-autocomplete2" style="width: 100%; padding: 0px 30px;">

                                                <input type="text" class="form-control" placeholder="Buscar al proveedor" aria-label="Search" id="pro_info">
                                                <input id="pro_info_dato" style="display:none">

                                            </div>


                                        </div>

                                    </div>



                                </div>
                            </div>
                        </div>

















                    </div>

                    <!-- Content Row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <div class="loader"></div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @RenderPage("~/Content/footer.cshtml")
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>












    <!-- sample modal content -->
    <div id="modal_proveedor" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Datos del Proveedor</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row dimension" style="margin:auto" >
                       
                     
                    </div>
                </div>
                <div class="modal-footer">
                  
                    <button type="button" onclick="confirmar_imagen()" class="btn btn-success">Guardar Cambios</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->





    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Scripts/jquery-1.12.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/Content/alertifyjssw/alertify.min.js"></script>


    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/tiempo/js/datepicker.js"></script>



</body>

</html>




<script type="text/javascript">
    var idu = @Session["UserId"];
    var ws = $("#webserv").val();
    var ruta_actual = $("#ruta_actual").val();
    var ruta_actual1 = $("#ruta_actual1").val();
    var idpersonan = 0;
    var id_idu = 0;


    var nombre_del_usuario = "";
    var correor = "";
    var telefn = "";
    var dni = "";
</script>

<script type="text/javascript" src="~/Content/menu1.js"></script>



<script>

    $("#req_id").autocomplete({
        source: function (request, response) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + "/devolver_servicio_de_Req_adudicado",
                data: { req_id: $("#req_id").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        $("#idreq2").val(item.requiereservicioid);
                        return {
                            label: item.requiereservicioid, value: item.requiereservicioid,
                            Id: item.id_servicio
                        };
                     }
                    ));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }, select: function (event, ui) {
            $("#idserviciot2").val(ui.item.Id);
            var reactual = ui.item.value;
           
            $("#lista_servicio1").empty();
            var reqk = reactual;
            $("#idreq2").val(reqk);
            $('.loader').css({ 'display': 'block' });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + '/devolver_nombre?req_id=' + reqk,
                success: function (data) {
                    $.each(data, function (idx, obj) {
                        $("#nombre_proveedor").val(obj.nombre_completo);
                        $("#idproveedors").val(obj.id_proveedor);

                        var nom = $("#nombre_proveedor").val();
                         $('.loader').css({ 'display': 'none' });
                        alertify.alert("Service Web", "El proveedor Asignado al req." + reqk + " es " + nom + " el requerimiento es de la Opción " + obj.opcion_de_req , function () {
                            alertify.message('Datos del proveedor y del req.');
                         
                        });
                    });


                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        url: ruta_actual1 + '/lista_de_proveedores_activos_de_un_servicio_x',
                        data: { idservicio: $("#idserviciot2").val(), menos_pro: $("#idproveedors").val(), req_id: reqk },
                        success: function (data) {
                            if (data.length > 0) {
                              
                                var lista = "";
                                $.each(data, function (idx, obj) {
                                    var dry1 = obj.Personaid_cliente;
                                    var dry2 = obj.serviciopersonaid;
                                    var dry3 = obj.personaid;
                                    var dry4 = obj.personanombres;
                                    var dry5 = obj.personaapellidos;
                                    var dry6 = obj.personacompleto;
                                    var opcion = obj.Opcion;

                                    var list = '<a class="dropdown-item" onclick="ReasignaciónPro(' + dry1 + ',' + dry2 + ',' + dry3 + ',' + opcion + ')" >' + dry6 + '</a>';
                                    lista = lista + list;
                                });

                                $("#lista_servicio1").append(lista);

                                var uno = document.getElementById('dropdownMenuButton12');
                                uno.innerHTML = "Lista de proveedores activos";




                                $(".loader").fadeOut("slow");
                                $("#Lista_proveedores_activos").show();

                            } else {

                                $(".loader").fadeOut("slow");
                                alertify.alert("Service Web", "No hay otros proveedores disponibles en este momento.", function () {
                                    alertify.message('OK');
                                });

                            }
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                    });


                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
            console.log(ui);
           return false;
         }
    });


    function ReasignaciónPro(dry1, dry2, dry3, opcion) {
      $('.loader').css({ 'display': 'block' });
        var serviciopersonaid = dry2;
        var personaid = dry3;
        var reqk = $("#idreq2").val();
    //    alert(reqk);
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            type: "POST",
            url: ws + '/Api/SaveRequiereServicioToFirebase?idRequest=' + reqk,
            success: function (data1) {
                $.ajax({
                    url: ruta_actual1 + '/ActualizarrequiereservicioproveedoresAsync',
                    dataType: "json",
                    data: { req_id: reqk, spid: serviciopersonaid, personaid: personaid, opcion: opcion },
                    success: function (data) {
                        showToast1('success', 'toast-top-right', 'Datos ' + data);
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: "json",
                            type: "get",
                            url: ws + '/api/EnviarNotificacionDesignadas?req_id=' + reqk + '&personaid=' + dry1 + '&tipo=Reasignacion_cliente',
                            success: function (data12) {
                                showToast1('success', 'toast-top-right', 'Notificaciones enviadas correctamente.');
                                $("#req_id").val("");
                                $("#nombre_proveedor").val("");

                                $(".loader").fadeOut("slow");

                                $("#Lista_proveedores_activos").hide();

                            },
                            error: function (xhr, status, error) {
                                alert("Error reagiancion2");
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        alert("Error reagiancion1");
                    }
                });
            },
            error: function (xhr, status, error) {
                alert("Error reagiancionfire");
            }
        });




    }


















    $("#req_id_cancelacion").autocomplete({
        source: function (request, response) {
         
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + "/devolver_servicio_de_Req_adudicado",
                data: { req_id: $("#req_id_cancelacion").val()  },
                success: function (data) {
                    response($.map(data, function (item) {
                        $("#idreq2").val(item.requiereservicioid);
                        return {
                            label: item.requiereservicioid, value: item.requiereservicioid,
                            Id: item.requiereservicioid
                        };
                    }
                    ));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }, select: function (event, ui) {
            $("#idreq3").val(ui.item.value);
            $("#dropdownMenuButton13").show();
            $("#dropdownMenuButton14").show();
            $("#dropdownMenuButton15").show();
             return false;
         }
    });



    function cancelar_req_sin_notificacion(estado) {
     
        var req_idd = $("#idreq3").val();
      
        cancelar_servicio_sin_notificacion(req_idd, estado);

    }


    function cancelar_req(estado) {

        var req_idd = $("#idreq3").val();

        cancelar_servicio(req_idd, estado);

    }


    function cancelar_servicio_sin_notificacion(req_idd, estado) {

        var req = req_idd;
        var contenido = "";


        contenido = "¿Está seguro(a) de Cancelar el Requerimiento sin notificación?";

        alertify.confirm('Service Web', contenido,
            function () {
                $('.loader').css({ 'display': 'block' });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "get",
                    url: ws + '/api/verRequiereServicioxId?reqSerId=' + req + '&lang=es',

                    success: function (data) {
                        var datospersona = data.valor;
                        datospersona.EstadoReqServId = estado;
                        datospersona.TipoEstado = 2;
                        var dd1 = JSON.stringify(datospersona);

                        console.log(dd1);
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: "json",
                            type: "POST",
                            url: ws + '/Api/saveRequiereServicio_cancelar_sin_notificacion?lang=es',
                            data: dd1,
                            success: function (data) {

                                if (data.valor== req) {
                                    $('.loader').css({ 'display': 'none' });
                                    showToast1('success', 'toast-top-right', 'El Req. ' + req + ' fue cancelado sin enviar notificación correctamente.');
                                    $("#req_id_cancelacion").val("");
                                    $("#dropdownMenuButton13").hide();
                                    $("#dropdownMenuButton14").hide();
                                    $("#dropdownMenuButton15").hide();
                                }

                               
                            },
                            error: function (xhr, status, error) {
                                alert("Error");
                            }

                        });
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });



            }
            , function () { showToast1('success', 'toast-top-right', 'El Req. ' + req + ' siguen en Proceso.'); }
        );



    }




    function cancelar_servicio(req_idd, estado) {
    
        var req = req_idd;
        var contenido = "";

        if (estado == 6) {
            contenido = "¿Está seguro(a) de poner en estado de prueba el Requerimiento?";

        } else {

            contenido = "¿Está seguro(a) de Cancelar el Requerimiento?";
        }

        alertify.confirm('Service Web', contenido,
            function () {
                $('.loader').css({ 'display': 'block' });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    type: "get",
                    url: ws+'/api/verRequiereServicioxId?reqSerId=' + req + '&lang=es',
                   
                    success: function (data) {
                        var datospersona = data.valor;
                        datospersona.EstadoReqServId = estado;
                        datospersona.TipoEstado = 2;
                        var dd1 = JSON.stringify(datospersona);
            
                        console.log(dd1);
                       $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: "json",
                            type: "POST",
                           url: ws + '/Api/saveRequiereServicio_cancelar?lang=es',
                            data: dd1,
                           success: function (data) {

                              $('.loader').css({ 'display': 'none' });
                                showToast1('success', 'toast-top-right', 'El Req. ' + req + ' fue cancelado correctamente.');
                                $("#req_id_cancelacion").val("");
                                 $("#dropdownMenuButton13").hide();
                               $("#dropdownMenuButton14").hide();
                               $("#dropdownMenuButton15").hide();
                            },
                            error: function (xhr, status, error) {
                                alert("Error");
                            }

                        });
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });



            }
            , function () { showToast1('success', 'toast-top-right', 'El Req. ' + req + ' siguen en Proceso.'); }
        );



    }


    function showToast1(type, css, mensaje) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": css,
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "3000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr[type](mensaje, 'Service Web');
    }




</script>


<script>
    // activar proveedores
    $("#pro_activa").autocomplete({
        source: function (request, response) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + "/devolver_proveedores",
                data: { like_proveedores: $("#pro_activa").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        $("#idpro_act").val(item.personaid);
                        return {
                            label: item.nombre, value: item.nombre,
                            Id: item.personaid
                        };
                    }
                    ));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }, select: function (event, ui) {
            var reactual = ui.item.Id;
            idpersonan = reactual;
            $("#lista_proveed1").empty();
            $('.loader').css({ 'display': 'block' });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + '/devolver_lista_servicios?personaid=' + reactual,
                success: function (data) {
                    if (data.length > 0) {

                        var lista = "";
                        $.each(data, function (idx, obj) {
                            var dry1 = obj.nombre_servicio;
                            var dry2 = obj.servicioid;
                        

                            var list = '<a class="dropdown-item" onclick="activar_prov(' + dry2 + ')" >' + dry1 + '</a>';
                            lista = lista + list;
                        });

                        $("#lista_proveed1").append(lista);

                        var uno = document.getElementById('lista_pro');
                        uno.innerHTML = "Lista de Servicios";

                        $(".loader").fadeOut("slow");
                        $("#Lista_proveedores").show();

                    } else {
                        $(".loader").fadeOut("slow");
                    
                        alertify.alert("Service Web", "Este Usuario es un Cliente !!!", function () {
                            alertify.message('OK');
                        });

                    }


                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
            console.log(ui);
            return false;
        }
    });



    function activar_prov(dato) {
        $('.loader').css({ 'display': 'block' });
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            type: "Get",
            url: ws + '/api/ListaServicioPersonaservicio?personaid=' + idpersonan + '&servicioid=' + dato,
            success: function (data) {
                var DPersona1 = data.valor;
                DPersona1.EstadoServicioId = 1;
                    DPersona1.StatusServicioId = 1;
                DPersona1.TipoEstado = 2;

                var dd_persona = JSON.stringify(DPersona1);
                console.log("lista persona_servicio " + dd_persona);
              
            $.ajax({
                    url: ws + '/Api/saveServicioPersona?lang=es',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    async: true,
                    type: "POST",
                    data: dd_persona,
                    success: function (data) {
                        var lista = data.valor;
                        if (lista.length > 0) {

                            $.ajax({
                                contentType: 'application/json; charset=utf-8',
                                dataType: "json",
                                type: "get",
                                url: ws + '/api/EnviarNotificacionActivacion_a_proveedor?personaid=' + idpersonan + '&servicioid=' + dato + '&tipo=Activacion_proveedor',
                                success: function (data12) {
                               
                                    $("#pro_activa").val("");
                                    $("#lista_proveed1").empty();
                                    $("#Lista_proveedores").hide();
                                    $(".loader").fadeOut("slow");

                                    showToast1('success', 'toast-top-right', 'Datos Actualizados correctamente y Notificación enviada al Proveedor.'); 


                                },
                                error: function (xhr, status, error) {
                                    alert("Error reagiancion2");
                                }
                            });



                          
                        } else {
                            $(".loader").fadeOut("slow");
                            showToast1('error', 'toast-top-right', 'fallo en la actualizacion!!!'); 
                          
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            },
            error: function (xhr, status, error) {
                alert("Error");
            }

        });

    }

</script>










<script>
    // activar proveedores
    $("#pro_info").autocomplete({
        source: function (request, response) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + "/devolver_proveedores",
                data: { like_proveedores: $("#pro_info").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        $("#pro_info_dato").val(item.personaid);
                        return {
                            label: item.nombre, value: item.nombre,
                            Id: item.personaid
                        };
                    }
                    ));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }, select: function (event, ui) {
            var reactual = ui.item.Id;
            idpersonan = reactual;
            $('.loader').css({ 'display': 'block' });
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                url: ruta_actual1 + '/devolver_lista_servicios?personaid=' + reactual,
                success: function (data) {
                    if (data.length > 0) {
                        $(".loader").fadeOut("slow");
                        $("#pro_info").val("");
                        $('.loader').css({ 'display': 'block' });
                        informacion_pro(idpersonan);
                    } else {
                        $(".loader").fadeOut("slow");
                        $("#pro_info").val("");
                        $("#pro_info_dato").val("");
                        alertify.alert("Service Web", "Este Usuario es un Cliente !!!", function () {
                            alertify.message('OK');
                        });
                    }
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
            console.log(ui);
            return false;
        }
    });


    function informacion_pro(dato) {
        id_idu = dato;
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            type: "Get",
            url: ws + '/api/ObtenerPersona_serviciopersona1?Personaid=' + dato,
            success: function (data) {
                var dat1p = JSON.stringify(data.valor);
                dataPersona = JSON.parse(dat1p);
                $('.dimension').empty();
                 nombre_del_usuario = dataPersona.PersonaNombres + " " + dataPersona.PersonaApellidos;
                 correor = dataPersona.PersonaCorreo;
                 telefn = dataPersona.PersonaTelefono;
                 dni = dataPersona.PersonaDNI;
                var imagen = dataPersona.PersonaURLFoto;
             

                $('.dimension').append('<div class="self1">' +
                    '<input type="file" id="seleccionArchivos" style="display:none;" onchange="fileValidation(this.value,this.id)" />' +
                    '<img id="imagenPrevisualizacion" class= "portrait img-circle" src="https://webservice.serviceweb.bo/Resources/MediaIcons/' + imagen + '"  onclick="imge1()" />' +
                    '</div>' +
                    '<div class="self2">' +
                    '<div class="row" style="margin:auto">' +
                    '<div class="title_dpp"><h1>' + nombre_del_usuario + ' </h1> </div>' +
                    ' <div class="title_dpp"><h1>Proveedor de Servicio</h1> </div>' +
                    '<div class="title_dpp"><h1>' + correor + '</h1> </div>' +
                    ' <div class="title_dpp"><h1>' + telefn + '</h1> </div>' +
                    '  <div class="title_dpp"><h1>' + dni + '</h1> </div>' +
                    '</div>' +
                    '</div>');
                $(".loader").fadeOut("slow");
                $("#modal_proveedor").modal("show");

            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });


    }

    function imge1() {
        $('#seleccionArchivos').trigger('click');
    }


    function confirmar_imagen() {
     
        var dy = $("#seleccionArchivos").val();
        if (dy != "") {
            $('.loader').css({ 'display': 'block' });
            var fileUpload = $("#seleccionArchivos").get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            var file = files[0];
            var actualizacion_de_nombre = "imagen_" + id_idu + "_.jpg";

            formData.append('file', file, actualizacion_de_nombre);
            formData.append("name", "MediaIcons");
            var xhr = new XMLHttpRequest();
            xhr.open('POST', ws + '/api/upload_todo', true);
            xhr.onload = function () {
                if (xhr.status == 200) {

                

                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: "json",
                        url: ruta_actual1 + "/Actualizar_servicio_persona_imagen",
                        data: { personaid: id_idu, url: actualizacion_de_nombre },
                        success: function (data) {
                            $(".loader").fadeOut("slow");
                            showToast1('success', 'toast-top-right', data);
                            setTimeout(function () { location.href = "../Detalle/Proveedores";}, 3000);
                          
                        },
                        error: function (xhr, status, error) {
                            alert("Error actualizar");
                        }
                    });




                } else {
                }
            };
            xhr.send(formData);

        } else {
            showToast1('warning', 'toast-top-right', 'No puede Actualizar la misma Imagen.');
        }



    }




    function fileValidation(dato, id) {
        var filePreview = document.getElementById('imagenPrevisualizacion');
        filePreview.src = "";
        var fileInput = document.getElementById(id);
        var allowedExtensions = /(.jpg|.jpeg|.png)$/i;


        if (!allowedExtensions.exec(dato)) {
            alert('Cargue el archivo que tenga extensiones .jpeg / .jpg / .png solamente.');
            fileInput.value = '';
         
            return false;
        } else {

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {

                    filePreview.src = e.target.result;
           
                    console.log(e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    }












</script>